<div class="container-fluid">
    <!--<section class="center jumbotron">-->
        <!--<h1>Welcome to Open 24hrs</h1>-->
    </section>    
    <div id="map" style="width:100%; height: 300px;"></div>
   	<section>

		<h1>Open 24/7 business list</h1>
		
		<table>
		  <thead>
		    <tr>
		      <th>Yelp</th>
		      <th>Name</th>
		      <th>Street</th>
		      <th>City</th>
		      <th>State</th>
		      <th>Zip</th>
		      <th>Phone</th>
		      <th>Neighborhood</th>
		      <th>Website</th>
		      <th>Category</th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>
		
		  <tbody>
		    <% @opens.each do |open| %>
		      <tr>
		        <td><%= open.yelp %></td>
		        <td><%= open.name %></td>
		        <td><%= open.street %></td>
		        <td><%= open.city %></td>
		        <td><%= open.state %></td>
		        <td><%= open.zip %></td>
		        <td><%= open.phone %></td>
		        <td><%= open.neighborhood %></td>
		        <td><%= open.website %></td>
		        <td><%= open.category %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		
		<br>
		
		<%= link_to 'New Open', new_open_path %>

   	</section>
    
    <!-- google map api -->
	<%= javascript_tag do %>
		
		//get info from open model
		window.opensURL = "<%=j opens_url %>";
		
		//get get the array of venues for the loaded events
		window.opensArr = <%=raw @opensArr.to_json %>;
		
		var styleArray = [
			{
				featureType: "all",
				stylers: [
				{ saturation: -50 }
				]
			},
			{
				featureType: "road.arterial",
				elementType: "geometry",
				stylers: [
					{ hue: "#00ffee" },
					{ saturation: 50 }
				]
			},
			{
				featureType: "poi.business",
				elementType: "labels",
				stylers: [
					{ visibility: "off" }
				]
			}
		];
		
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 13,
			center: new google.maps.LatLng(37.7745140408613, -122.44537353515625),
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			styles: styleArray
		});
		
		var infowindow = new google.maps.InfoWindow();
		var marker, i;

		for (i = 0; i < events.length; i++) {  
			
			marker = new google.maps.Marker({
				position: new google.maps.LatLng(events[i][0], events[i][1]),
				map: map
			});

			google.maps.event.addListener(marker, 'click', (function(marker, i) {

				return function() {
				infowindow.setContent(
				"<span id='content'>" + "<p ><strong><a href=\"events/" + events[i][7] + "\">" + events[i][2] + "</a></strong></p>" + "<p>Location: " + events[i][3] + " " + events[i][4] + " "+ events[i][5] + "</p>" + "<p>Description: "+ events[i][6] + "</p>" +"</span>"
				);
				infowindow.open(map, marker);
				}
			})(marker, i));

		}
	<% end %>

</div>

