<!DOCTYPE html>
<html>
<head>
  <title>Open24hrs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--header for the site’s (plain-text) logo and navigation-->
    <!--header default classes for bootstrap creates navbar width, fixed top navbar, with dark color(navbar inverse) instead of light-->
    <%= render 'layouts/header' %>

  <%= yield %>
</body>
</html>
